{% extends "layout.html" %}

{% block content %}
<!--Make sure to check the links work if you get an error while trying to click.-->

<h2>My name is Antonio and I created this website.</h2>
<p>I am 20 years old and this is my third year studying Information Technology. I am from Mentor, Ohio up near Cleveland. 
    Back at home I went to Mentor High School where I played soccer for all four years. I attended Lakeland Community College where I got my two year degree while I was still in high school.
</p>
<br><p>Below is an image of Lakeland Community College.</p>
<img src="https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/overview_images/3075_Lakeland_Community_College_LakelandClocktower.jpg">


{% endblock %}