{% extends "layout.html" %}

{% block content %}
<!--Make sure to check the links work if you get an error while trying to click.-->

<h2>University of Cincinnati</h2>
<p>I am currently a junior studying information technology with a concentration in cybersecurity and networking.
    The university is highly ranked in terms of education and also is a very talented in their sports teams. The football team is one of the top 4 teams in the country!
    To learn more about the school I attend <a href="https://www.uc.edu/">click here!</a>
</p>
<br>
<br>
<br>
<p>Go Bearcats!</p>
<img src="https://images.foxtv.com/static.fox4news.com/www.fox4news.com/content/uploads/2021/12/592/333/1205cfb.jpg?ve=1&tl=1">
{% endblock %}