{% extends "layout.html" %}

{% block content %}
<!--Make sure to check the links work if you get an error while trying to click.-->
<h2>The Best NFL Team</h2>
<p>My favorite team is the Pittsburgh Steelers. If you would like to learn more about this NFL team... </p>
<a href="https://www.steelers.com/">Click Here!</a>
<h2>The Best NBA Team</h2>
<p>My favorite team is the Cleveland Cavaliers. If you would like to learn more about this NBA team... </p>
<a href="https://www.nba.com/cavaliers/">Click Here!</a>
<h2>The Best MLB Team</h2>
<p>My favorite team is the Cleveland Guardians. If you would like to learn more about this MLB team... </p>
<a href="https://www.mlb.com/guardians/fans/cleteamname">Click Here!</a>
<br>
<br>
<br>
<p>Not a fan of any of these teams? Enter any of your favorite teams below and I'll tell you what I think.</p>
<form action="/sportscont" method="POST">
    <input name="getSportscont">
    <input type="submit" value="Let's see what I think.">
</form>
<!--If you get an error because of an invalid submission make sure you are using only string values. If that does not fix the error go to routes.py and check that getSportscont is correctly entered for the request.form.
Make sure everything is spelled correctly including capitals.-->
{% endblock %}